@import "_variables";

.content-courses-all-wrapper {
  font-family: 'Roboto', sans-serif !important;
  height: 100%;
  display: flex;

  .content-courses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    align-content: flex-start;

    .courses-first-module, .courses-second-module {
      width: 50%;
      flex-basis: 50%;
    }
    .courses-first-module {
      order: 1;
    }
    .courses-second-module {
      order: 2;
    }
    .courses-third-module {
      order: 3;
      align-content: flex-start;
      width: 50%;
      flex: 50%;
    }

    .course-module {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: flex-start;

      .course {
        flex-basis: 40%;
        display: flex;
        flex-wrap: wrap;
        margin: 2%;
        background-color: #f4f4f4;
        position: relative;
        border: 1px solid transparent;
        border-radius: 5px;

        &.found {
          @include border-glow($specific-green-color);
        }
        &.not-found {
          opacity: 0.5;
        }
        &.course-active{
          @include border-glow(dodgerblue);
          position: relative;

          .course-active-notification{
            z-index: 1700;
            opacity: 0;
            width: 100px;
            text-align: center;
            border: 1px solid lightgray;
            background-color: rgba(255,255,255,0.8);
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%,-50%);
            border-radius: 5px;
            visibility: hidden;
            transition: visibility 0s, opacity 0.3s linear;

          }

          &:hover > .course-active-notification{
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%,-50%);
            visibility: visible;
            opacity: 1;
          }
        }


      }
      .course-image {
        flex-basis: 100%;
        height: 60%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .course-info {
        height: 100%;
        position: relative;
        padding: 20px;

        .course-color-circle {
          border: 1px solid transparent;
          border-radius: 100%;
          position: absolute;
          bottom: 20%;
        }
        a {
          font-size: 16px;
          color: #586268;
        }
        span {
          font-size: 12px;
          color: #586268;
        }
      }
    }
  }
}

@media (min-device-width: 1200px) and (max-device-width: 1600px) {

}

@media (min-device-width: 768px) and (max-device-width: 1024px) {

}

@media (min-device-width: 320px) and (max-device-width: 640px) {
  .content-courses-all-wrapper .content-courses{
    flex-wrap: wrap;
    flex-direction: row;
    .course-module{
      width: 100%;
      flex-basis: 100%;
      justify-content: center;
    }
  }
}
