@import "_variables";

.header {
  $border-radius: 4px;
  $border-color: #ebeae9;
  $navbar-item-height: 75px;

  border: 1px solid $border-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: center;
  align-content: center;
  position: relative;

  .navbar-logo-wrapper {
    flex: 1;
    align-self: center;
    height: $navbar-item-height;
  }
  .navbar-logo {
    margin-right: 10px;
    width: 107px;
    height: auto;
    max-height: 100%;
    max-width: 200px;
    background-color: #e9e9e9;
  }

  .navbar-search-wrapper {
    flex: 2 auto;
    align-self: center;
    position: relative;
    width: 100%;

    input {
      display: none;
      margin-left: -30px;
      padding-left: 40px;
      background-color: transparent;
      border-color: transparent;
      margin-right: 0;

      &:focus {
        outline-width: 0;
        background-color: lightgray;
        opacity: 0.5;
      }
    }

    .icon {
      margin: auto 0 auto 20px;
      height: 20px;
    }

  }
  .notification-panel {
    position: absolute;
    top: 50px;
    left: -10px;
    z-index: 1700;
    background-color: #F4F4F4;
    opacity: 0.9;
    display: none;

    .notification {
      padding: 20px;
    }
    .lecture-name {
      color: orangered;
    }
    .course-name {
      color: dodgerblue;

    }
  }
  div.notification-count {
    display: inline-block;
    text-align: center;
    position: relative;
    top: -5px;
    background-color: red;
    right: 10px;
    border: 1px solid transparent;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    color: white;
    font-size: 11px;
    span {
      position: absolute;
      top: -2px;
      right: 3px;
    }
  }

  .navbar-user-panel {
    flex: 3 auto;
    align-self: center;

    .user-username {
      color: dimgray;
      font-weight: bold;
    }
    img {
      width: 40px;
      height: 40px;
      border: 1px solid transparent;
      border-radius: 50%;
    }
    button {
      border-left: 1px solid $border-color;
      height: $navbar-item-height;
      background-color: transparent;
      border-radius: 0;
    }
    .dropdown-menu {
      left: auto;
      right: 0;
      margin: 0;
      border-radius: 0 0 0 10px;
      color: orangered;
    }
    &.show {
      button {
        background-color: orangered;
      }
      .user-username {
        color: white;
      }
    }
  }

}

@media (min-device-width: 1200px) and (max-device-width: 1600px) {
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {

}

@media (min-device-width: 320px) and (max-device-width: 640px) {
  .navbar-logo-wrapper {
    .navbar-logo {
      margin-right: 0;
    }
    &.logged-in {
      display: none;
    }
  }
  .notification-panel {
    min-width: 100vw;
  }
  .admin-course-add-lecture {
    color: black;
  }

}
