@import "_variables";

.login-register-page-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .login-register {
    width: 35%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
    align-content: flex-start;
    align-items: center;
    text-align: left;

    label {
      color: dodgerblue;
      font-size: 11px;
      margin-bottom: 2px;
    }
    input {
      border: none;
      background: rgba(255, 255, 255, 0.8) no-repeat;
      background-size: 20px;
      background-position: 2%;
      padding-left: 35px;

      &#username {
        background-image: url("../images/students.png");
      }
      &#password {
        background-image: url("../images/psw.png");
      }
      &#confirm-password {
        background-image: url("../images/repeat.png");
      }
      &#email {
        background-image: url("../images/mail.png");
      }
      &#image {
        padding-left: 0;
      }

      &:focus {
        @include border-glow($main-color)
      }

    }
    .form-control-feedback {
      display: none;
    }

    .main-action-button {
      @extend .btn-main-action;
      width: 100%;
    }

    .register-user-image {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      transform: translate(50%, -50%);
      @include border-no-overflow(100%, white);

      img {
        width: 75px;
        height: 75px;
      }
    }

  }
  .information-wrapper {
    height: 100%;
    background-color: gainsboro;
  }
}

//TABLET
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .login-form-wrapper {
    width: 100%;
  }

}

//SMARTPHONE
@media screen and (max-width: 47em) {
  .login-form-wrapper {
    width: 100%;
  }
  .information-wrapper {
    display: none;
  }
}

