<div class="content-courses">
  {{#each this}}
    <div class="course">
      <img src="https://homepages.cae.wisc.edu/~ece533/images/baboon.png" alt="">
      <a href="#/course/{{_id}}">{{name}}</a>
    </div>
  {{/each}}
</div>
