<li class="nav-item">
  <a class="nav-link" href="#">Home</a>
</li>
<li>
  <a class="nav-link" href="#/admin/courses/create">Create Course[ADMIN]</a>
</li>
<li>
  <a href="#">Hello {{this}}</a>
</li>
<li>
  <a class="nav-link" href="#/logout">Logout</a>
</li>

