<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Settings <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Change Avatar</a>
    </li>
  </ul>
</nav>
<div class="user-settings-wrapper">
  <div class="user-settings">
    <form id="user-settings-form" action="">

      <label> New Password
        <input type="password">
      </label>
      <label> Enter New Email
        <input type="password">
      </label>
      <label> Enter Current Passport
        <input type="password">
      </label>

    </form>
  </div>
  <div class="user-change-avatar">

  </div>
</div>
